.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid navy;
  padding: 10px;
}

.header{
  padding: 10px;
}

body {
  padding: 10px;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}
